In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import logging

# Generate some data:

In [2]:
from batchglm.api.models.nb_glm import Simulator

sim = Simulator(num_observations=2000, num_features=100)
sim.generate_sample_description(num_batches=0)
sim.generate()

# count data
X = sim.X
# sample description
sample_description = sim.sample_description

The sample description should be a pandas DataFrame with `num_observations` rows.
Each column should represent a property of the dataset.

The module `batchglm.api.data` contains some helper functions which can be useful to create this sample description:

- `sample_description_from_anndata()`
- `sample_description_from_xarray()`

In [3]:
sample_description

             condition
observations
0                    0
1                    1
2                    0
3                    1
4                    0
5                    1
6                    0
7                    1
8                    0
9                    1
10                   0
11                   1
12                   0
13                   1
14                   0
15                   1
16                   0
17                   1
18                   0
19                   1
20                   0
21                   1
22                   0
23                   1
24                   0
25                   1
26                   0
27                   1
28                   0
29                   1
...                ...
1970                 0
1971                 1
1972                 0
1973                 1
1974                 0
1975                 1
1976                 0
1977                 1
1978                 0
1979                 1
1980                 0
1981                 1
1982                 0
1983                 1
1984                 0
1985                 1
1986                 0
1987                 1
1988                 0
1989                 1
1990                 0
1991                 1
1992                 0
1993                 1
1994                 0
1995                 1
1996                 0
1997                 1
1998                 0
1999                 1

[2000 rows x 1 columns]

# Run differential expression test:

The t-test checks if two groups of samples differ significantly in one gene.

Therefore, it has to be provided with a parameter `grouping` which specifies the group membership of each sample.
It can be either the name of a column in `sample_description` or a vector of length `num_observations`.

In [4]:
logging.getLogger("tensorflow").setLevel(logging.ERROR)
logging.getLogger("batchglm").setLevel(logging.INFO)
logging.getLogger("diffxpy").setLevel(logging.INFO)

import diffxpy as de

test = de.test_t_test(
    data=X,
    grouping="condition",
    sample_description=sample_description
)

# Obtaining the results

The p-/q-values can be obtained by calling test.pval / test.qval:

In [5]:
test.qval

array([1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.60547221e-03,
       1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.54744535e-03, 1.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 1.37839936e-03, 0.00000000e+00,
       0.00000000e+00, 1.00000000e+00, 1.00000000e+00, 4.50216277e-08,
       1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.00000000e+00, 4.66907430e-01, 1.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
       1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
       1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 1.00000000e+00])

test.summary() returns a pandas DataFrame with a quick overview of the test results:

In [6]:
test.summary()

    gene      pval      qval    log2fc
0      0  1.000000  1.000000  0.460219
1      1  1.000000  1.000000  0.857655
2      2  1.000000  1.000000  0.626951
3      3  1.000000  1.000000  0.944438
4      4  1.000000  1.000000  0.586649
5      5  1.000000  1.000000  0.897808
6      6  1.000000  1.000000  0.747291
7      7  0.000482  0.001605 -0.033741
8      8  1.000000  1.000000  0.386023
9      9  1.000000  1.000000  0.699942
10    10  1.000000  1.000000  0.450547
11    11  1.000000  1.000000  0.694128
12    12  0.000000  0.000000 -0.329309
13    13  0.000000  0.000000 -0.149869
14    14  0.000000  0.000000 -0.311876
15    15  0.000000  0.000000 -0.596667
16    16  0.000000  0.000000 -0.278040
17    17  0.000790  0.002547 -0.020691
18    18  1.000000  1.000000  0.173621
19    19  1.000000  1.000000  0.502402
20    20  1.000000  1.000000  0.855930
21    21  1.000000  1.000000  0.569719
22    22  0.000000  0.000000 -0.311000
23    23  1.000000  1.000000  0.750808
24    24  1.000000  1.000000  0.837900
25    25  1.000000  1.000000  0.695989
26    26  0.000400  0.001378 -0.026820
27    27  0.000000  0.000000 -0.491141
28    28  0.000000  0.000000 -0.168113
29    29  1.000000  1.000000  0.586200
..   ...       ...       ...       ...
70    70  1.000000  1.000000  0.665281
71    71  0.000000  0.000000 -0.817186
72    72  1.000000  1.000000  0.840408
73    73  0.000000  0.000000 -0.346220
74    74  1.000000  1.000000  0.770927
75    75  1.000000  1.000000  0.240598
76    76  1.000000  1.000000  0.594300
77    77  1.000000  1.000000  0.107347
78    78  1.000000  1.000000  0.382285
79    79  1.000000  1.000000  0.921961
80    80  1.000000  1.000000  0.467455
81    81  1.000000  1.000000  0.716662
82    82  1.000000  1.000000  0.505857
83    83  1.000000  1.000000  0.456117
84    84  1.000000  1.000000  0.785197
85    85  1.000000  1.000000  0.168800
86    86  1.000000  1.000000  0.719363
87    87  1.000000  1.000000  0.951607
88    88  1.000000  1.000000  0.125728
89    89  1.000000  1.000000  0.196813
90    90  0.000000  0.000000 -0.224955
91    91  1.000000  1.000000  0.652924
92    92  1.000000  1.000000  0.536967
93    93  1.000000  1.000000  0.402850
94    94  1.000000  1.000000  0.844987
95    95  0.000000  0.000000 -0.138742
96    96  1.000000  1.000000  0.743528
97    97  0.000000  0.000000 -0.622564
98    98  1.000000  1.000000  0.275008
99    99  1.000000  1.000000  0.569488

[100 rows x 4 columns]

- `gene`: gene name / identifier
- `pval`: p-value of the gene
- `qval`: multiple testing - corrected p-value of the gene
- `log2fc`: log_2 fold change between `no coefficient` and `coefficient`